.detail-request-section {
  margin: 16px auto 0;
  max-width: 1250px;
  background: #fff;
  border-radius: 4px;
  min-height: 800px;

  h3 {
    display: block;
    font-size: 1.17em;

    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
}
