.home-container {
  width: 100%;
}

.home-top-section {
  width: 100%;
  height: 300px;
  background-color: #294a8d;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-evenly;

  h1 {
    display: block;
    font-size: 2.5em;
    color: white;
    font-weight: bold;
    text-align: center;
  }

  .top-search-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .top-search-button {
      position: absolute;
      right: 27%;
      bottom: 10%;
    }

    .top-search-input {
      width: 50%;
      height: 200%;
      border-radius: 4px;
    }
    .top-search-input:focus {
      outline: none;
    }
  }
}

.home-mid-section {
  width: 100%;
  //height: 250px;
  background-color: #f5f7f9;
  padding: 32px;
  display: flex;
  justify-content: center;

  .card-item {
    align-items: center;
    display: flex;
    padding: 16px;
    background-color: #ffff;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  .card-item:hover {
    background-color: #f0efef;
  }
  .card-item-text {
    margin-left: 16px;
    h3 {
      display: block;
      font-size: 1.17em;

      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
    }
  }
  .card-item-icon {
    font-size: 26px;
  }
}
.home-bottom-section {
  width: 100%;
  //height: 400px;
  background-color: #ffff;
  display: flex;
  justify-content: center;

  .home-bottom-content {
    width: 60%;

    h2 {
      display: block;
      font-size: 1.5em;
      margin-top: 0.83em;
      margin-bottom: 0.83em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
    }
  }
  .top-requests {
    margin-bottom: 32px;
  }
  .top-request-item {
    padding: 16px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    p {
      color: #01174e;
    }
  }
  .top-request-item:hover {
    background-color: rgb(233, 231, 231);
  }
  .request-content-date {
    span {
      color: #6e6d6d;
      font-size: 14px;
    }
  }
  .request-status {
    padding: 1%;
    background-color: gray;
    border-radius: 3px;
    span {
      font-size: 16px;
      font-weight: bold;
      color: white;
    }
  }
}
