.header-right-side {
  display: flex;
  margin-right: 5%;
  .header-noti,
  .header-profile {
    padding: 3px;
    margin-left: 20%;
    cursor: pointer;
    font-size: 20px;
    position: relative;
  }
}
