.table {
  color: #102c57;
  border: 1px solid;

  & tr:first-child {
    font-size: 20px;
    font-weight: 500;
    & th {
      padding-bottom: 15px;
      padding-top: 15px;
      color: #102c57;
      margin: auto;
      background-color: #a1ccd1;
    }
    text-align: center;
  }

  & td {
    font-size: 16x;
    border: 1px solid;
    padding-bottom: 5px;
    padding-top: 5px;
    vertical-align: baseline;
    text-align: center;
    margin: 0 auto;
    padding-left: 30px;
  }

  & tr:nth-child(2) td {
    padding-top: 5px;
    margin: 0 auto;
  }
}
