.option{
    display: flex;
    height: 3rem;
    cursor: pointer;
    padding: 0 1rem;
    align-items: center;
    background: #fff;
    &:hover{
        background: #f2f2f2;
    }
    .option-text{
        font-size: 1rem;
        color: #42526E;
    }
}