.switch{
    position: relative;
    width: 144px;
    height: 24px;
    border-radius: 20px;
    
}
.switch input{
    appearance: none;
    width: 144px;
    height: 24px;
    border-radius: 20px;
    background: #706f6f;
    outline: none;
    cursor: pointer;
}
.switch input::before,
.switch input::after
{
    z-index:2;
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    font-weight: bolder;
    font-size: 0.6rem;
    line-height: none;
}

.switch input::before{
    content: "Dark";
    left: 20px;
}

.switch input::after{
    content: "Light";
    right: 20px;
}

.switch input:checked{
    background: #fcc97e;
}

.switch input{
    transition: 0.25s;
}

.switch label{
    z-index: 1;
    position: absolute;
    top: 6px;
    bottom: 4px;
    border-radius: 15px;
}

.switch input:checked::after,
.switch input:checked::before
{
    color: #fff;
    transition: color 0.5s;
}

.switch input:checked+label{
    left: 10px;
    right: 70px;
    background: #706f6f;
    transition: left 0.5s, right 0.4s 0.2s;
}

.switch input:not(:checked){
    background: #706f6f;
    transition: background 0.4s;
}

.switch input:not(:checked)::before{
    color: #fff;
    transition: color 0.5s;
}

.switch input:not(:checked)::after{
    color: #706f6f;
    transition: color 0.5s 0.2s;
}

.switch input:not(:checked)+label{
    left: 70px;
    right: 10px;
    background-color: #fcc97e;
    transition: left 0.4s 0.2s, right 0.5s, background 0.35s;
}