.catalog-section {
  margin: 16px auto 0;
  max-width: 1400px;
  background: #fff;
  border-radius: 4px;
  min-height: 800px;

  h3 {
    display: block;
    font-size: 1.17em;

    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
}

.catalog-service {
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  display: flex;
  justify-content: space-between;
}
.catalog-service:hover {
  background-color: #f5f7f9;
}
